{% extends "reporting/base_report.html" %}
{% load humanize %}
{% load reporting_filters %}

{% block report_content %}
    <h6 class="text-center mb-4">As of: {{ report_date|date:"F d, Y" }}</h6>

    <div class="mb-5">
        <h5 class="mb-3">Past Due Aging Summary by Loan Officer</h5>
        <div class="table-responsive">
            <table class="table table-sm table-bordered">
                <thead class="table-light">
                    <tr>
                        <th rowspan="2">Loan Officer</th>
                        <th colspan="{{ aging_buckets_order|length }}" class="text-center">Aging Buckets</th>
                        <th rowspan="2" class="text-end">Total Amount</th>
                        <th rowspan="2" class="text-end">Total Accounts</th>
                    </tr>
                    <tr>
                        {% for bucket in aging_buckets_order %}
                            <th class="text-end">{{ bucket }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for data in report_data %}
                    <tr>
                        <td>{{ data.officer }}</td>
                        {% for bucket in aging_buckets_order %}
                            <td class="text-end">{{ data.buckets|get_item:bucket|get_item:"amount"|intcomma }}</td>
                        {% endfor %}
                        <td class="text-end fw-bold">{{ data.officer_total_amount|intcomma }}</td>
                        <td class="text-end fw-bold">{{ data.officer_total_accounts }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="{{ aging_buckets_order|length|add:3 }}" class="text-center">No past due accounts found.</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th class="text-end">Grand Total</th>
                        {% for bucket in aging_buckets_order %}
                            <th class="text-end">
                                {% with total_amount_for_bucket=0 %}
                                    {% for data in report_data %}
                                        {% with total_amount_for_bucket=total_amount_for_bucket|add:data.buckets|get_item:bucket|get_item:"amount" %}
                                        {% endwith %}
                                    {% endfor %}
                                    {{ total_amount_for_bucket|intcomma }}
                                {% endwith %}
                            </th>
                        {% endfor %}
                        <th class="text-end">
                            {% with grand_total_amount=0 %}
                                {% for data in report_data %}
                                    {% with grand_total_amount=grand_total_amount|add:data.officer_total_amount %}
                                    {% endwith %}
                                {% endfor %}
                                {{ grand_total_amount|intcomma }}
                            {% endwith %}
                        </th>
                        <th class="text-end">
                            {% with grand_total_accounts=0 %}
                                {% for data in report_data %}
                                    {% with grand_total_accounts=grand_total_accounts|add:data.officer_total_accounts %}
                                    {% endwith %}
                                {% endfor %}
                                {{ grand_total_accounts }}
                            {% endwith %}
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}
